@charset "utf-8";

/* header */
header {
       display: flex;
       justify-content: space-between; /* 양쪽 끝으로 정렬 */
       align-items: center; /* 세로 정렬을 중앙으로 맞춤 */
       padding: 13px;
       background-color: #FFEFD5;
   }
   
header .logo img {
    width: 80px; /* 이미지 크기를 조절 */
}

header .link a {
     text-decoration: none;
     color: gray;
     margin: 0 10px;
     font-family: "IBM Plex Sans KR", sans-serif;
     font-weight: 700;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 10px;
}

/* footer */
footer {
   border-top: 2px dashed #f7a486; /* 빨간 점선 */
   text-align: center;
   font-family: "IBM Plex Sans KR", sans-serif;
   font-weight: 700;
   background-color: #FFEFD5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    gap: 40px;
}


div p {
    font-weight:bold;
}
input {
	flex-grow: 1;
	max-width: 250px;
}

/* body */

body{
	background-color:#FFFCF7;
}